::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgba(24, 24, 24, 0.7);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}


body {
    overflow-x: hidden;
}

@media (max-width: 1280px) {
    #navLinks {
        position: absolute;
        top: calc(100%);
        left: 50%; /* Center the dropdown menu horizontally */
        transform: translateX(-50%); /* Center the dropdown menu horizontally */
        background: linear-gradient(to right, #eab308, #f97316); /* Gradient background */
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
    }
}

@media (min-width: 1280px) {
    #toggleNavBtn {
        display: none;
    }
}
